# Series Object - also called single dimensional array

In [1]:
import pandas as pd
p1 = pd.Series([1,2,3,4,5])
print(p1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
type(p1)

pandas.core.series.Series

In [3]:
lst=[10,20,30]
p2=pd.Series(lst)
print(p2)

0    10
1    20
2    30
dtype: int64

# Changing index

In [8]:
import pandas as pd
p1 = pd.Series([1,2,3,4,5])
print(p1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
p1 = pd.Series([22,67,29,78], index=['a','b','c','d'])
print(p1)

a    22
b    67
c    29
d    78
dtype: int64

# Creating Series object using dictionary

In [10]:
import pandas as pd
p5 = pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5})
print("Series Object using dictionary")

Series Object using dictionary
A    1
B    2
C    3
D    4
E    5
dtype: int64

# Changing position of index

In [13]:
import pandas as pd
p6 = pd.Series({'a':10,'b':20,'c':30}, index=['b','c','d','a'])
print("Changing position of index")
print(p6)

Changing position of index
b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

# Exteracting individual elements

In [17]:
import pandas as pd
p7 = pd.Series([10,44,32,28,12,11,34,66,89])
print("Extracting single element")
print(p7[5])

print("\nExtracting elements in sequence")
print(p7[:5])  # 5 is exclusive 

print("\nExtracting elements from back")
print(p7[-4:])

Extracting single element
11

Extracting elements in sequence
0    10
1    44
2    32
3    28
4    12
dtype: int64

Extracting elements from back
5    11
6    34
7    66
8    89
dtype: int64

# Basic Math operation on Series object

# 1. Adding scalar values

In [18]:
import pandas as pd
p1 = pd.Series([10,20,30,40,50])
print("Adding scalar value")
print(p1+3)  #adding 3 to all values

Adding scalar value
0    13
1    23
2    33
3    43
4    53
dtype: int64

# Adding 2 Series objects

In [19]:
import pandas as pd
p2 = pd.Series([10,20,30,40,50])
p3 = pd.Series([1,2,3,4,5])
print("Adding two Series object")
print(p2+p3)

Adding two Series object
0    11
1    22
2    33
3    44
4    55
dtype: int64